:root{
    --gallery-background:#eee;
    --gallery-padding:10px;
    --gallery-desktop-size:30%;
    --gallery-mobile-size:50%;

    --gallery-toggle-background:#fff;
    --gallery-toggle-text-color:#000;

    --gallery-item-background:#fff;
    --gallery-item-border-radius:10px;
    --gallery-item-spacing:10px;
    --gallery-item-shadow-opacity:0.4;

    --gallery-item-title-background:#fff;
    --gallery-item-title-text-color:#000;

    --gallery-item-subtitle-text-color:#000;

    --gallery-item-desc-text-color:#000;

    --gallery-item-action-background:#3d93f6;
    --gallery-item-action-text-color:#ffffff;
    --gallery-item-action-highlight-background:#75b5ff;
    --gallery-item-action-text-highlight-color:#ffffff;
    
    --animation-speed:1s;

    --scroll-size:5px;
    --scroll-background:#fff;
    --scroll-handle-color:#ddd;
    --scroll-handle-highlight-color:#777;
}

*{
    box-sizing: border-box;
}
html{
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', serif;
    position:relative;
    user-select: none;
}

body.right .gallery{
    left:inherit;
    right:0;
    transition: right var(--animation-speed) ease;
}

body.right .gallery.hide{
    right: calc(var(--gallery-desktop-size) * -1);
}

body.right .gallery-toggle-on{
    left:inherit;
    right:0;
    border-radius: 5px 5px 0 0;
    transform-origin: bottom right;
    transform: translateY(-300%) rotate(-90deg);
}

body.right .gallery-toggle-off .close{
    right:inherit;
    left:1vw;
}

.gallery-toggle-off{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity var(--animation-speed) ease;
}

.gallery-toggle-off .close{
    position: absolute;
    color:#fff;
    top:1vw;
    right:1vw;
    font-size: 2vw;
    opacity: 0.5;
    user-select: none;
}

.gallery-toggle-off.darken{
    opacity: 1;
}

.gallery-toggle-on{
    position: absolute;
    left: 0;
    top: 50%;
    background-color: var(--gallery-toggle-background);
    color:var(--gallery-toggle-text-color);
    transform-origin: bottom left;
    transform:translateY(-300%) rotate(90deg);
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    user-select: none;
    cursor: pointer;
    font-size: 0.9em;
    z-index:0;
    transition: opacity var(--animation-speed) ease;
}

.gallery-toggle-on.hide{
    opacity: 0;
}

.gallery{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: var(--gallery-desktop-size);
    background-color: var(--gallery-background);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 12px;
    transition: left var(--animation-speed) ease;
}

.gallery.hide{
    left: calc(var(--gallery-desktop-size) * -1);
}

.gallery.horizontal {
    top: inherit;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    transition: bottom var(--animation-speed) ease;
    height: var(--gallery-desktop-size);
    font-size: 10px;
}

.gallery.hide.horizontal{
    bottom: calc(var(--gallery-desktop-size) * -1);
}

.gallery .gallery-view{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding:0 var(--gallery-padding);
}

.gallery.horizontal .gallery-view{
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    flex:1;
    padding: var(--gallery-padding) var(--gallery-padding) 50px var(--gallery-padding);
}

.vff-mobile .gallery .gallery-view{
    scroll-snap-type: y mandatory;
}

.vff-mobile .gallery.horizontal .gallery-view{
    scroll-snap-type: x mandatory;
    padding: var(--gallery-padding) 0 50px 0;
}

.gallery .gallery-view .gallery-item-wrap{
    padding: var(--gallery-item-spacing) 0;
}

.gallery.horizontal .gallery-view .gallery-item-wrap{
    padding: 0 var(--gallery-item-spacing) 0 0;
    flex: 1 0 25%;
}

.vff-mobile .gallery .gallery-view .gallery-item-wrap{
    scroll-snap-align: start;
}

.gallery .gallery-view .gallery-item-wrap .gallery-item{
    display: flex;
    flex-direction: column;
    background-color: var(--gallery-item-background);
    border-radius: var(--gallery-item-border-radius);
    box-shadow: 3px 3px 10px rgba(0,0,0,var(--gallery-item-shadow-opacity));
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.gallery .gallery-view .gallery-item-wrap .gallery-item.full-img::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--gallery-item-background) 0%, transparent 20%, var(--gallery-item-background) 100%);
}

.gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-title{
    margin: 0;
    padding: 5px 10px;
    font-size: 1.75em;
    font-weight: 900;
    background-color: var(--gallery-item-title-background);
    color:var(--gallery-item-title-text-color);
    z-index: 1;
}

.gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-subtitle{
    margin: 0;
    padding: 5px 10px;
    font-size: 1.5em;
    color:var(--gallery-item-subtitle-text-color);
    z-index: 1;
}

.gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-desc{
    margin: 0;
    padding: 5px 10px;
    font-size: 1em;
    color:var(--gallery-item-desc-text-color);
    white-space: pre-line;
    z-index: 1;
}

.gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-action{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gallery-item-action-background);
    color:var(--gallery-item-action-text-color);
    margin: 10px;
    padding: 10px 0;
    border-radius: calc(var(--gallery-item-border-radius) / 2);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    z-index: 1;
}

.gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-action:hover{
    background-color: var(--gallery-item-action-highlight-background);
    color:var(--gallery-item-action-text-highlight-color);
}

.gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-img-wrap{
    position: relative;
    flex:1;
}

.gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-img-wrap .gallery-item-img{
    object-fit: contain;
    width: 100%;
}

.gallery .gallery-view .gallery-item-wrap .gallery-item.full-img .gallery-item-img-wrap .gallery-item-img{
    opacity: 0;
}

.vff-mobile .gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-img-wrap .gallery-item-img,
.gallery.horizontal .gallery-view .gallery-item-wrap .gallery-item .gallery-item-img-wrap .gallery-item-img{
    height: 100%;
    position: absolute;
}

/* SCROLL BAR*/
/* width */
::-webkit-scrollbar {
    width: var(--scroll-size);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-handle-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-handle-highlight-color);
}

.vff-mobile::-webkit-scrollbar {
    all:unset;
}


@media (orientation: landscape) {
    .vff-mobile .gallery{
        border-radius: 0 15px 15px 0;
        width: var(--gallery-mobile-size);
        font-size: 8px;
    }

    .vff-mobile .gallery.horizontal{
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: var(--gallery-mobile-size);
    }

    .vff-mobile.right .gallery{
        border-radius:  15px 0 0 15px;
    }

    .vff-mobile .gallery.hide{
        left: calc(var(--gallery-mobile-size) * -1);
    }

    .vff-mobile .gallery.horizontal.hide{
        left:inherit;
        bottom: calc(var(--gallery-mobile-size) * -1);
    }

    .vff-mobile.right .gallery.hide{
        left:inherit;
        right: calc(var(--gallery-mobile-size) * -1);
    }

    .vff-mobile .gallery .gallery-view .gallery-item-wrap{
        height: 100vh;
        padding: var(--gallery-item-spacing) 0 70px 0;
    }

    .vff-mobile .gallery.horizontal .gallery-view .gallery-item-wrap{
        height: 100%;
        padding: 0 calc(var(--gallery-item-spacing) /2);
    }
}

@media (orientation: portrait) {
    .vff-mobile .gallery{
        width: 100vw;
        border-radius: 0;
        top:inherit;
        height: calc(100vh - 56.25vw);
    }

    .vff-mobile .gallery.vertical-anim{
        transition: bottom var(--animation-speed) ease;
        border-radius: 10px 10px 0 0;
    }

    /*.vff-mobile .gallery-toggle-off{*/
        /*display: none;*/
    /*}*/

    /*.vff-mobile .gallery-toggle-on{*/
        /*display: none;*/
    /*}*/

    .vff-mobile .gallery.hide{
        transition: none;
        left:0;
    }

    .vff-mobile .gallery.vertical-anim.hide{
        bottom:calc(56.25vw - 100vh);
        transition: bottom var(--animation-speed) ease;
    }

    .vff-mobile .gallery.horizontal{
        height: 100%;
    }

    .vff-mobile .gallery .gallery-view{
        padding:0 var(--gallery-padding);
    }

    .vff-mobile .gallery.horizontal .gallery-view{
        padding: var(--gallery-padding) 0 ;
    }

    .vff-mobile .gallery .gallery-view .gallery-item-wrap {
        height: calc(100vh - 56.25vw);
    }

    .vff-mobile .gallery.horizontal .gallery-view .gallery-item-wrap{
        flex:1 0 100vw;
        padding: 0 calc(var(--gallery-item-spacing) / 2);
        height: calc(100vh - 56.25vw - (var(--gallery-padding) * 2));
    }

    .vff-mobile .gallery .gallery-view .gallery-item-wrap .gallery-item .gallery-item-img{
        object-fit: cover;
    }
}